*/system/
*/application/cache/
*/application/core/
*/application/errors/
*/application/hooks/
*/application/plugins/
*/application/third_party/
*/application/config/*
*/application/config/!formatic.php
*/application/config/!carabiner.php
*/application/config/!stuff.php
*/application/libraries/*
*/application/libraries/!Formatic.php
*/application/libraries/!Formatic_carabiner_bridge.php
*/application/libraries/!Formatic_stuff_bridge.php
*/application/models/*
*/application/models/!formatic_model_example.php
*/application/controllers/*
*/application/controllers/!formatic_example.php
*/formatic_proj.tmproj